# Grey Chair content review (shared Make webhook on all client sites)
VITE_SHOW_REVIEW_FLAGS=true
REVIEW_WEBHOOK_URL=
REVIEW_NOTIFICATION_EMAIL=projects@greychair.io
ACTION_ITEM_EMAIL=will@greychair.io
